@page "/login"
@using InstitutoServices.Models.Login
@using Microsoft.Extensions.Logging
@inject FirebaseAuthService AuthService
@inject NavigationManager NavigationManager
@inject SweetAlertService SweetAlert
@inject ILogger<Login> logger
@inject IUsuarioService usuarioService



@if (!IsAuthenticated)
{
    <h3>Iniciar sesión</h3>

    <EditForm Model="usuario" OnValidSubmit="IniciarSesion">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="email">Email</label>
            <InputText class="form-control mb-2" type="text" @bind-Value="usuario.Email" />
        </div>
        <div class="form-group">
            <label for="clave">Contraseña</label>
            <InputText class="form-control mb-2" type="password" @bind-Value="usuario.Password" />
        </div>
        <ValidationSummary />
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </EditForm>
        <button class="btn btn-dark" @onclick="LoginGoogle">Google</button>
       <button class="btn btn-info" @onclick="LoginFacebook">Facebook</button>
      
      

    <button class="btn btn-dark" @onclick="ResetearPassword">Olvidé mi contraseña</button>

}
else
{
    <h1>Bienvenido @userFirebaseAuthenticate.DisplayName</h1>
    <button class="btn btn-primary" @onclick="CerrarSesion">Cerrar sesión</button>
}


@code {
    Usuario usuario { get; set; } =new Usuario();

    bool IsAuthenticated { get; set; }=false;

    FirebaseUser? userFirebaseAuthenticate { get; set; }=null;

    protected async override Task OnInitializedAsync()
    {
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();

        AuthService.OnChangeLogin += ChequeoEstadoLogin;

    }

    private async Task IniciarSesion()
    {
        await AuthService.SignInWithEmailPassword(usuario.Email, usuario.Password);
        IsAuthenticated = await AuthService.IsUserAuthenticated();
        StateHasChanged();
    }


    private async Task CerrarSesion()
    {
        await AuthService.SignOut();
        usuario = new Usuario();
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();
        StateHasChanged();
    }

    private async Task Registrarse()
    {
        NavigationManager.NavigateTo("/registrarse");
    }

    private async Task LoginGoogle()
    {
        await AuthService.LoginWithGoogle();
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();
        StateHasChanged();
    } 

    private async Task LoginFacebook()
    {
        await AuthService.LoginWithFacebook();
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();
        StateHasChanged();
    }

    public async void ChequeoEstadoLogin()
    {
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();
        // logger.LogInformation($"userFirebaseAuthenticate={userFirebaseAuthenticate.PropertiesToString()}");
        StateHasChanged();
     }
        
}